<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('assets/img/dashboard-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Exam</h1>
          <span class="subheading">Rate exams</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Page content -->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Rating List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rating history</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="/js/exam.js"></script>
