<!-- Page header -->
<header class="masthead" style="background-image: url('assets/img/g-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Book your G test</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Page form -->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p class="g-tip">Pass your G2 test first</p>
        <div class="my-5">
          <!-- <form id="g">
            <div class="form-floating">
              <input
                class="form-control"
                id="licenseNo"
                type="text"
                placeholder="Enter your license number..."
              />
              <label for="licenseNumber">License Number</label>
            </div>
            <br />
            <button
              class="btn btn-primary text-uppercase g1-submit"
              id="submitButton"
              type="submit"
            >
              Submit
            </button>
          </form> -->
        </div>
        <%- include('../components/driverForm') %>
      </div>
    </div>
  </div>
</main>

<script src="/js/validation.js"></script>
<script src="/js/driverForm.js"></script>
