<!-- Page header -->
<header class="masthead" style="background-image: url('assets/img/g2-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>Book your G2 Test</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Page form -->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Fill out the form to book you G2 test</p>
        <div class="my-5"><%- include('../components/driverForm') %></div>
      </div>
    </div>
  </div>
</main>
<script src="/js/validation.js"></script>
<script src="/js/driverForm.js"></script>
